body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;

}


h2 {
    color: #007BFF;
}

.login-page, .schedule-page, .admin-page {
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-page {
    background-color: #f9f9f9;
    border: 1px solid redd;
}

.schedule-page {
    background-color: #e7f0ff;
}

.admin-page {
    background-color: #d1ecf1;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#agendas {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#agendas table {
    width: 100%;
    border-collapse: collapse;
}

#agendas table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}